<h1>Product List</h1>

<a href="{% url 'product-create' %}" class="btn btn-primary">Add Product</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Barcode</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href="{% url 'product-edit' product.id %}">Edit</a>
                    <a href="{% url 'product-delete' product.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No products found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>